.context-menu-button {
  height: 28px;
  box-sizing: border-box;
  position: relative;
  padding: 4px 6px;
  font-size: 12px;
  cursor: default;
  margin: 6px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 500;
  width: 100%;
  &:hover {
    background: rgba(0, 0, 0, .08);
  }
}