@import "../styles/utils.scss";

.navigation-bar {
  width: 100%;
  margin-right: 0.5rem;
  outline: none;
  padding: 0.6em 0.2em;
  font-size: .8em;
  color: var(--txt-col);
  border: 1px solid var(--color-border);
  display: flex;

  .ui-icon{
    margin: 0 1em;
    img{
      transform-origin: center;
      transition: .4s ease-in-out;
    }
  }
  input{
    width: 100%;
    font-size: inherit;
    background: inherit;
    border: none;
    outline: none;
    color: var(--med-dark);

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  &:placeholder {
    color: var(--color-text-lighter);
  }
}